body {
    margin: 0;
    background: #0909091a;
    font-size: 13px;
    font-family: Circular, Arial, sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.text-center {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
hr {
    border-top: none;
    border-bottom: 1px solid #f6f6f63b;
    border-right: 0px;
    border-left: 0px;
}
.left {
    width: 350px;
    background: var(--themeColor);
    border-radius: 5px 0px 0px 5px;
    padding: 30px 25px 20px 25px;
}
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 425px;
}
.products-title {
    font-size: 13px;
    margin-top: 0px;
    display: flex;
    color: var(--primaryTextColor);
}
.products {
    max-height: 334px;
    overflow: auto;
}
.product-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover;
}
.product {
    display: flex;
    justify-content: space-between;
    color: var(--secondaryTextColor);;
    padding: 10px;
    background: #00000033;
    margin-bottom: 3px;
    border-radius: 6px;
    align-items: center;
}
.product-price {
    width: 100px;
    text-align: right;
}
.total {
    display: flex;
    justify-content: space-between;
    color: white;
}
.flex-row {
    display: flex;
    direction: row;
    align-items: center;
}
.right {
    border-radius: 0px 5px 5px 0px;
    background: #FFFFFF;
}
iframe {
    height: 600px;
    background: #FFFFFF;
    border-radius: 0px 5px 5px 0px;
}
.back-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.shop-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.logo {
    margin-top: -42px;
}
.primary {
    color: var(--primaryTextColor);
    margin-bottom: 1px;
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}
.back {
    margin-right: 5px;
    height: 26px;
}
.back-text {
    color: var(--primaryTextColor);
    margin-bottom: 1px;
    margin-top: 0px;
}
.secondary {
    margin-top: 5px;
    color: var(--secondaryTextColor);
    font-weight: normal;
    font-size: 14px;
}
.qr-container {
    display: none;
    background: white;
    width: 400px;
    height: 604.5px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
}
.download-qr {
    display: block;
    width: 300px;
    height: 44px;
    border: 0px;
    background-color: #e0e0e0;
    color: var(--themeColor);
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.2s ease 0s;
}
.complete-payment {
    display: block;
    width: 300px;
    height: 44px;
    border: 0px;
    background-color: var(--themeColor);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.2s ease 0s;
}
.secured-by {
    position: absolute;
    width: 400px;
    display: flex;
    z-index: 4;
    background: transparent;
    align-items: flex-end;
    justify-content: center;
    bottom: 95px;
}
.secured-by-bottom {
    display: flex;
    height: 50px;
    align-items: center;
}
.secured-by-logo {
    margin-top: 4px;
    margin-left: 8px;
}
@media only screen and (max-width: 798px) {
    .left {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        border-radius: 0px;
        height: 180px;
        padding: 0px;
        padding-top: 20px;
    }
    .left-box {
        max-width: 400px;
        margin: 0 auto;
    }
    .right {
        position: absolute;
        top: 0px;
        margin-top: 147px;
        z-index: 3;
        border-radius: 5px;
    }
    iframe, .qr-container {
        border-radius: 5px;
        height: 600px;
    }
    .secured-by {
        bottom: 10px;
    }
}
@media only screen and (max-width: 390px) {
    .left {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        border-radius: 0px;
        height: 180px;
        padding: 0px;
        padding-top: 20px;
    }
    .left-box {
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
    }
    .right {
        z-index: 3;
        border-radius: 5px;
        position: absolute;
        top: 0px;
        margin-top: 147px;
    }
    .qr-container {
        max-width: 350px;
    }
    iframe, .qr-container {
        max-width: 350px;
        border-radius: 5px;
        height: 600px;
    }
    .secured-by {
        max-width: 330px;
        bottom: 10px
    }
}

.info .container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    background: white;
    border-radius: 5px;
    padding: 50px 30px;
}
.info svg {
    width: 150px;
}
.info .button {
    display: block;
    padding: 0px 30px 0px 30px;
    height: 44px;
    border: 0px;
    background-color: var(--themeColor);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.2s ease 0s;
}
.info h2 {
    text-align: center;
}
.info .table {
    width: 100%;
    border-collapse: collapse;
}
.info .table td {
    padding: 10px 0px;
    border-bottom: 2px solid #00000017;
    color: #636366;
    border-top: 2px solid #00000017;
}
.failed-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.info .retry-button {
    display: block;
    padding: 0px 10px 0px 10px;
    height: 44px;
    border: 0px;
    background-color: #e8e8e8;
    color: var(--themeColor);
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.2s ease 0s;
}
.info .failed-back-button {
    display: block;
    padding: 0px 20px 0px 20px;
    height: 44px;
    width: 100%;
    border: 0px;
    background-color: var(--themeColor);
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 2px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.2s ease 0s;
}